<h2>Registrarse</h2>
<br>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

  <% errors = resource.errors.full_messages[0] %>
  
  <% if errors %>
    <div class="flash alert text-danger bg-warning"><%= resource.errors.full_messages[0] %></div>
  <% end %>
  
  <% flash.each do |key, value| %>
     <div class="flash alert text-warning bg-info"><%= value %></div>
  <% end %>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, class: "form-control", autofocus: true %>
  </div>

  <div class="form-group">
    <%= f.label :contraseña %>
    <%= f.password_field :password, class: "form-control", autocomplete: "off" %>
  </div>

  <div class="form-group">
    <%= f.label :conformar_contraseña %>
    <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "off" %>
  </div>

  <div class="field">

  </div>

  <div class="actions">
    <%= f.submit "Registrarse", class: "btn btn-success" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
