<!-- <p id="notice"><%#= notice %></p> -->
  <% flash.each do |key, value| %>
     <div class="flash alert text-warning bg-warning"><%= value %></div>
  <% end %>

<h1>Listado Usuarios</h1>
<br><br>

<a href="/users/new" class="btn btn-success">Crear Usuario</a>
<br><br>

<table id="tabla_users" class="table table-hover table-striped table-responsive">
  <thead>
    <tr>
      <th>ID</th>
      <th>Rut</th>
      <th>Email</th>
      <th>Rol</th>
      <th>Nombre</th>
      <th>Acciones</th>
      <th>Acciones</th>
      <th>Acciones</th>
      <th>Telefono</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      
      <% confirmado = user.confirmed_at.present? %>
      <% texto_autorizacion = !confirmado ? 'Autorizar' : 'Desautorizar' %>
      <% clase_btn = confirmado ? 'info' : 'default' %>

      <tr>
        <td><%= user.id %></td>
        <td><%= user.rut %></td>
        <td><%= user.email %></td>
        <td><%= user.rol.upcase %></td>
        <td><%= user.nombre_completo %></td>
        

        <td><%= link_to texto_autorizacion, '', class: "btn btn-block btn-#{clase_btn}  btn-sm toggle_confirmado", "data-confirmado": confirmado, "data-user-id": "#{user.id}" %></td>
        <td><%= link_to 'Editar', edit_user_path(user), class: "btn btn-block btn-warning  btn-sm" %></td>
        <td><%= link_to 'Eliminar', user, method: :delete, data: { confirm: "Estas seguro que quieres eliminar a #{user.nombre} #{user.apellido}?" }, class: "btn btn-block btn-danger  btn-sm" %></td>
        <td><%= user.telefono %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% content_for :javascript do %>
    <script type="text/javascript">
      $(document).ready(function() {

        $('#tabla_users').DataTable({
          "dom": "f",
          "pageLength": 300,
          "order": [[0, 'desc']],
          'responsive': true
        });        

        $(".toggle_confirmado").click(function(event) {
          event.preventDefault()
          var btn = $(this)
          var confirmado = btn.data("confirmado")
          var user_id = btn.data("user-id")

          $.ajax({
            url: '/toggle_user_confirmado',
            type: 'POST',
            data: {id: user_id},
          })
          .done(function() {
            window.location = "?cuenta_actualizada"
          })
          .fail(function() {
            console.log("error");
          })
          .always(function() {
            console.log("complete");
          });
          
        });

      });
    </script>
<% end %>