  <% flash.each do |key, value| %>
     <div class="flash alert text-warning bg-warning"><%= value %></div>
  <% end %>

  <div class="jumbotron" style="background-color: rgba(169, 204, 198, 0.46)!important">
    <h1 class="display-3">Bienvenido al Sistema Pañol</h1>
    <p class="lead">Desde aca podras hacer busquedas de materiales, genrar y manejar reservas y mucho mas</p>
    <p><a class="btn btn-lg btn-success" href="/product_list" role="button">Ver Listado Productos</a></p>
  </div>

  <div class="row marketing">
    <div class="col-lg-6">
      <% @products1.each do |product| %>
      
        <h4><%= product.nombre %></h4>
        <p><%= product.descripcion  %></p>          
      <% end %>

    </div>

    <div class="col-lg-6">
      <% @products2.each do |product| %>
      
        <h4><%= product.nombre %></h4>
        <p><%= product.descripcion %></p>          
      <% end %>

    </div>
  </div>

  