<br>
<div class="jumbotron" style="background-color: rgba(169, 204, 198, 0.46)!important">
  <h1 class="display-3 text-center">Generar Reserva</h1><br>
  <p class="lead text-center">Desde aca podras hacer busquedas de materiales, generar y manejar reservas y mucho mas</p>
</div>


<!-- <p id="notice"><%#= notice %></p> -->
  <% flash.each do |key, value| %>
     <div class="flash alert text-warning bg-warning"><%= value %></div>
  <% end %>

<h4><b>Listado Usuarios</b></h4>

<table id="tabla_users" class="table table-hover table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Rut</th>
      <th>Email</th>
      <th>Rol</th>
      <th>Nombre Completo</th>
      <th>Telefono</th>
      <th>Reservas Activas</th>
      <th>Asignar Reserva</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>

      <tr>
        <td><%= user.id %></td>
        <td><%= user.rut %></td>
        <td><%= user.email %></td>
        <td><%= user.rol.upcase %></td>
        <td><%= user.nombre_completo %></td>
        <td><%= user.telefono %></td>
        <td><%= user.reservas_activas.count %></td>

        
        <td><button data-user-id="<%= user.id %>" data-nombre="<%= user.nombre %> <%= user.apellido %>" class="btn btn-info seleccionar_usuario">Seleccionar Usuario</button></td>
      </tr>
    <% end %>
  </tbody>
</table>
<a href="/users/new" class="btn btn-warning">Crear Usuario</a>
<br><hr>
<h3 id="nombre_usuario_seleccionado"><i>Elija usuario a quien se le asignaran las reservas que decida crear</i></h3>
<hr>

<form id="generar_reserva_form" action="/solicitud_reservas/reservas_preview" method="POST">
  <%= csrf_meta_tag %>
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>
  <input type="hidden" name="user_id" value="" id="input_usuario_seleccionado">  
  
  <table id="tabla_products" class="table table-hover table-striped">
    
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th>Categoria</th>
        <th>Marca</th>
        <th>Dias</th>
        <th>N# Disponible</th>
        <th>N# a Solicitar</th>
      </tr>
    </thead>
    <tbody class="">
      
        <% @products.each do |product| %>
          <tr>
            <td><%= product.id  %></td>
            <td><%= product.nombre %></td>
            <td><%= product.descripcion %></td>
            <td><%= product.category.nombre %></td>
            <td><%= product.marca %></td>
            <td><b><%= product.dias_prestamo %></b></td>
            <td><b><%= product.stock_disponible %></b></td>
            
            <td>
              <input value="0" id="cantidad_pruducto_id_<%= product.id %>" type="number" class="form-control" name="products[<%= product.id %>]">
            </td>
          </tr>
        <% end %>                    
    </tbody>
  </table>


  <br>

  <div>
    <button type="submit" id="generar_reserva" class="btn btn-warning btn-block" >Reservar</button>
  </div> 

</form>


<% content_for :javascript do %>

  <script type="text/javascript">

      $(document).ready(function() {

          $('#tabla_products').DataTable({
            "dom": "f"
          });

          $('#tabla_users').DataTable({
            "dom": "f"
          });



          $(".seleccionar_usuario").click(function(ev) {
            /* Act on the event */
            ev.preventDefault()

            var btn = $(this)
            var nombre_completo = btn.data("nombre")
            var user_id = btn.data("user-id")

            var texto_usuario_asignado = "Dueño de la Reserva: " + nombre_completo

            $("#nombre_usuario_seleccionado").text(texto_usuario_asignado)
            $("#input_usuario_seleccionado").val(user_id)            
            
          });

          $("#generar_reserva_form").on('submit', function(ev) {
            /* Act on the event */
            // ev.preventDefault()

            var btn = $(this)
            var user_id = $("#input_usuario_seleccionado").val()  

            if (user_id.length == 0) {
              swal("Atencion"," Debe Asignar Un Usuario Antes De Generar La Reserva", "info")
              console.log("debe asignar usuario")
              ev.preventDefault()
              return
            }
            
          });
      });      
    </script>     


 <% end %>

