
<h3 class="">Manejo de Reservas</h3>
<br><br>
<a href="/generar_reserva_admin" class="btn btn-primary">Generar Nueva Reserva</a>


<div class="row">

  <div class="col-md-12">
      
    <table id="tabla_reservas" class="table table-hover table-striped">
      
      <thead>
        <tr>
          <th>ID</th>
          <th>Producto</th>
          <th>Cantidad</th>
          <th>Dias Prestamo</th>
          <th>Estado</th>
          <th>Fecha Inicio</th>
          <th>Fecha Termino</th>
          <th>Usuario</th>
        </tr>
      </thead>
      <tbody>
        
        <% @reservas.each do |reserva| %>

          <% product = reserva.product %>
          <% user = reserva.user %>    
              
          <tr>
            <td><%= reserva.id  %></td>
            <td><%= reserva.product.nombre %></td>
            <td><%= reserva.productos_solicitados %></td>
            <td><%= reserva.product.dias_prestamo %></td>
            <td><i><%= reserva.estado.try :capitalize %></i></td>
            <td><%= reserva.fecha_inicio.try :to_date %></td>
            <td><%= reserva.fecha_termino.try :to_date %></td>
            <td><%= user.email %></td>
          </tr>
        <% end %>                    
      
      </tbody>
    </table>
  </div>




</div>




 

<% content_for :javascript do %>

  <script type="text/javascript">

      $(document).ready(function() {

        $('#tabla_reservas').DataTable({
          "dom": "f"
        });

      });      
    </script>     


 <% end %>

