

  <br>

  <div class="jumbotron">
    <h1 class="display-3 text-center">Listado de Productos</h1><br>
    <p class="lead text-center">Desde aca podras hacer busquedas de materiales, generar y manejar reservas y mucho mas</p>
  </div>

  <table id="tabla_products" class="table table-hover table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th>Stock Fisisco</th>
        <th>Stock Disponible</th>
        <th>Cantidad a Solicitar</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= product.id  %></td>
          <td><%= product.nombre %></td>
          <td><%= product.descripcion %></td>
          <td><%= product.stock_fisico %></td>
          <td><%= product.stock_disponible %></td>
          <td><input value="0" id="cantidad_pruducto_id_<%= product.id %>" type="number" class="" name=""></td>

          <td><a href="#" class="btn btn-success btn-sm reservar_producto"  data-nombre-producto="<%= product.nombre %>" data-id-producto="<%= product.id %>" >Reservar</a></td>

          <td><a href="/products/product_details/<%= product.id %>"class="btn btn-info btn-sm">Ver Detalles</a></td>
        </tr>
      <% end %>            
    </tbody>
  </table>


<!--   <br><br><br>
  <footer class="footer">
    <p>&copy; Duoc 2017</p>
  </footer>
 -->

<!-- <%#= render partial: "/layouts/footer" %> -->
 

<% content_for :javascript do %>

  <script type="text/javascript">

      $(document).ready(function() {

          $('#tabla_products').DataTable({
            "dom": "f"
          });



          $(".reservar_producto").click(function(ev) {
            /* Act on the event */
            ev.preventDefault()

            console.log("reservando")
            var btn = $(this)
            var cantidad_reservada = btn.data("cantidad-reservada")
            var nombre_producto = btn.data("nombre-producto")
            var id_producto = btn.data("id-producto")
            
            var id_input = "cantidad_pruducto_id_"+id_producto
            var cantidad_reservada = $("#"+id_input).val()


            alert("Has reservado "+cantidad_reservada+" unidades de "+nombre_producto)
          });
      });      
    </script>     


 <% end %>

