<div class="row marketing" style="text-align: center;">
  <div class="col-lg-12">
  <a href="/">
    <%= image_tag("productos1.jpg", :alt => "Listado de Productos") %>   
  </a>
  </div>
</div>

<% flash.each do |key, value| %>
   <div class="flash alert text-warning bg-warning"><%= value %></div>
<% end %>


<a href="/products/new" class="btn btn-success">Crear Producto</a>
<br><br>

<form action="/solicitud_reservas/reservas_preview" method="POST">
  <%= csrf_meta_tag %>
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>  
  <table id="tabla_products" class="table table-hover table-striped">
    
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Categoria</th>
        <th>Descripcion</th>
        <th>Dias Prestamo</th>
        <th>Stock Total</th>
        <th>Disponible</th>
        <th>Editar</th>
        <th>Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= product.id  %></td>
          <td><%= product.nombre %></td>
          <td><%= product.category.nombre %></td>
          <td><%= product.descripcion %></td>
          <td><%= product.dias_prestamo %></td>            
          <td><%= product.stock_total %></td> 
          <td><%= product.stock_disponible %></td>  
          <td><a href="/products/<%= product.id %>/edit" class="btn btn-info btn-sm">Editar</a></td>
          <td><a href="/products/delete_product/<%= product.id %>" class="btn btn-danger btn-sm">Eliminar</a></td>   
        </tr>
      <% end %>                    
    </tbody>
  </table>


  

</form>
<br>

 

<% content_for :javascript do %>

  <script type="text/javascript">

      $(document).ready(function() {

          $('#tabla_products').DataTable({
            "dom": "f"
          });


          $(".reservar_producto").click(function(ev) {
            /* Act on the event */
            ev.preventDefault()

            console.log("reservando")
            var btn = $(this)
            var cantidad_reservada = btn.data("cantidad-reservada")
            var nombre_producto = btn.data("nombre-producto")
            var id_producto = btn.data("id-producto")
            
            var id_input = "cantidad_pruducto_id_"+id_producto
            var cantidad_reservada = $("#"+id_input).val()


            alert("Has reservado "+cantidad_reservada+" unidades de "+nombre_producto)
          });
      });      
    </script>     


 <% end %>

