
<div class="row marketing" style="text-align: center;">
  <div class="col-lg-12">
  <a href="/">
    <%= image_tag("reservas1.jpg", :alt => "Listado de Reservas") %>   
  </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12" style="width: 89%;margin-left: 6%;">
    <h4 class="grey">Listado de Prodcutos</h4>

    <form action="/solicitud_reservas" method="POST">
      <%= csrf_meta_tag %>
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>  
      
      <table id="tabla_products" class="table table-hover table-striped">
        
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Categoria</th>
            <th>Marca</th>
            <th>Dias</th>
            <th>N# Disponible</th>
            <th>N# a Solicitar</th>
          </tr>
        </thead>
        <tbody class="">
          
            <% @products.each do |product| %>
              <tr>
                <td><%= product.id  %></td>
                <td><%= product.nombre %></td>
                <td><%= product.descripcion %></td>
                <td><%= product.category.nombre %></td>
                <td><%= product.marca %></td>
                <td><b><%= product.dias_prestamo %></b></td>
                <td><b><%= product.stock_disponible %></b></td>
                
                <td>
                  <input value="0" id="cantidad_pruducto_id_<%= product.id %>" min="0" max="<%= product.stock_disponible %>" type="number" class="form-control" name="products[<%= product.id %>]">
                </td>
              </tr>
            <% end %>                    
          
          
        </tbody>
      </table>


      <br>

      <div>
        <button type="submit" class="btn btn-success btn-block" >Reservar</button>
      </div> 

    </form>
  </div>
</div>      
<br><br><br><br><br><br>

<% content_for :javascript do %>

  <script type="text/javascript">

      $(document).ready(function() {

        $('#tabla_products').DataTable({
          "dom": "f"
        });
      });      
  </script>

 <% end %>

