<!DOCTYPE html>
<html>
  <head>
    <title>SistemaPaniol</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%#= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application'%>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.15/r-2.1.1/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.15/r-2.1.1/datatables.min.js"></script>  

<link rel="stylesheet" type="text/css" href="../../assets/stylesheet/style.css">


<script>
  function resizeIframe(obj) {
    obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
  }
</script>


  </head>

  <body>


    <div class="container">
      <%= render partial: "/layouts/navbars/navbar" %>

      <%= yield %>

      <%= render partial: "/layouts/footer" %>

      <% if content_for?(:javascript) %>
          <%= yield :javascript %>
      <% end %>

    </div>

    <script type="text/javascript">
      
      <% if params[:alert] == "reserva_exitosa" %>
        swal("Reserva Exitosa", "Tu reserva ha sido generada y en unos momentos recibiras un email confirmando si esta fue aprobada", "success")
      <% elsif params[:alert] == "reserva_cancelada" %>
        swal("Reserva Cancelada", "Tu reserva ha sido descartada", "warning")
      <% end %>        

    </script>





  </body>
</html>
